* {
    font-family: 'Roboto', sans-serif;
}

html {
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
}

body {
  margin: 0;
  overflow: hidden;
}

.num {
    width: 30%;
    background-color: #4C4C4C;
}

.op {
    background-color: #666666;
}

.screen {
    text-align: right;
    border: none;
    background-color: #73DAEB;
    width: 100%;
    height: 33%;
    font-size: 300%;
    color: #666666;
    resize: none;
}

.keyboard {
    width: 100%;
    height: 66%;
}

.numericKey {
    text-align: center;
    background-color: #4C4C4C;
    display: inline-block;
    width: 75%;
    height: 100%;
}

.operationKey {
    text-align: center;
    float: right;
    background-color: #666666;
    width: 25%;
    height: 100%;
}

.key {
    text-align: center;
    color: white;
    border: none;
}

@media screen {
    #calc {
        position: relative;
        left: 25%;
        top: 15%;
        width: 300px;
        height: 400px;
    }
    .num {
        font-size: 210%;
    }
    .op {
        font-size: 160%;
    }
}

@media (min-widgth: 320px) {
    #calc {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .num {
        font-size: 200%;
    }
    .op {
        font-size: 150%;
    }
}
