* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#calc {
  width: 100%;
  height: 100%;
}

.screen {
    display: block;
    text-align: right;
    background-color: #73DAEB;
    width: 100%;
    height: 33%;
    font-size: 300%;
    color: #666666;
    resize: none;
    border: 0;
}

.keyboard {
    width: 100%;
    height: 67%;
}

.numericKey {
    text-align: center;
    background-color: #4C4C4C;
    display: inline-block;
    width: 75%;
    height: 100%;
}

.operationKey {
    text-align: center;
    float: right;
    background-color: #666666;
    width: 25%;
    height: 100%;
}

.key {
    text-align: center;
    color: white;
    border: 0;
    padding: 0;
}

.num {
    width: 32%;
    height: 25%;
    font-size: 200%;
    background-color: #4C4C4C;
}

.op {
    font-size: 150%;
    width: 100%;
    height: 20%;
    background-color: #666666;
}
